./user-service/src/main/resources/application.properties
docker-compose.yml

# IntelliJ
.idea/
**/.idea/
*.iml

# Maven / build
**/target/
**/out/

# Logs
*.log
logs/

# Env files
.env
.env.*

# Spring Boot secrets
user-service/src/main/resources/application.properties
user-service/src/main/resources/application-*.properties
!user-service/src/main/resources/application-example.properties

# OS files
.DS_Store
Thumbs.db